body {
    display: flex;
    margin: 0;
    padding: 0;
}

.section-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: black;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 300px;   
}
 
.header .left {
    flex: 1;
}

a {
    padding: 0 10px;
    text-decoration: none;
    color: white;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 50px 300px;
    
}

.content .text {
    display: flex;
    width: 500px;
    flex-flow: column wrap;
    justify-content: center;
}

.content .text .title {
    
}
button {
    width: 100px
}