body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.section-1 {
    display: flex;
    width: auto;
    flex-direction: column;
    background-color: black;
    color:#1F2937;
}

.header {
    display: flex; 
    align-items: center;
    padding-top: 40px;
    justify-content: center;
    margin: 0 20%;
    
}
 
.section-1 .header .left {
    margin-right: auto;
    white-space: nowrap;
    font-size: 24px;
    font-weight: 800;
    color: #F9FAF8
}

a {
    display: inline;
    white-space: nowrap;
    text-decoration: none;
    color: white;
    padding: 0;
    margin: 10px;
}

.section-1 .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-left: 20%;
    margin-right: 20%;
}

.section-1 .content .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
}

.section-1 .content .text .title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8
}

.section-1 .content .text .description {
    font-size: 18px;
    color: #E5E7EB;
    padding: 20px 0;
}

.section-1 button {
    width: 100px;
    padding: 5px 0;
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: 800;
    border-radius: 5px;
    border: none;
}

.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.section-2 .title {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.section-2 .content {
    display: flex;
    flex-wrap: wrap;
}

.section-2 .content .one,
.section-2 .content .two,
.section-2 .content .three,
.section-2 .content .four {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.section-2 .image,
.section-2 .text {
    margin: 10px 20px;
    
}

.section-2 .text {
    width: 256px;
    text-align: center;
}

.section-3 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 80px 0;
}

.section-3 .quote {
    align-self: center;
    font-size: 36px;
    color: #1F2937;
    margin-left: 25%;
    margin-right: 25%;
}

.section-3 .author {
    align-self: flex-end;
    font-size: 28px;
    padding-top: 40px;
    margin-left: 25%;
    margin-right: 25%;
}

.section-4 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 80px 0;
}

.container {
    display: flex;
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    align-items: center;
    padding: 30px 100px;
    border-radius: 5px;
    margin: 0 20px;
}

.container .left {
    display: flex;
    flex-direction: column;
}

.container .right button {
    margin-left: 100px;
    padding: 4px 16px;
    background-color: transparent;
    border: 1px solid #E5E7EB;
    border-radius: 10%;
    color: #E5E7EB;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    background-color: #1F2937;
    padding: 30px 0;
}

