body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.section-1 {
    display: flex;
    width: auto;
    flex-direction: column;
    background-color: black;
    color: white;
}

.header {
    display: flex; 
    padding-top: 40px;
    margin: 0 375px;
}
 
.section-1 .header .left {
    margin-right: auto;
}

a {
    text-decoration: none;
    color: white;
    padding: 0 10px;
}

.section-1 .content {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    
    
}

.section-1 .content .text {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-left: 375px;
}

.section-1 .content .image {
    margin-right: 375px;
}
button {
    width: 100px
}

.section-2 {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    padding: 40px 0 80px;
}

.section-2 .content {
    display: flex;
}

.section-2 .content .one,
.section-2 .content .two,
.section-2 .content .three,
.section-2 .content .four {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.section-2 .image,
.section-2 .text {
    margin: 10px 20px;
    
}

.section-2 .text {
    width: 256px;
    text-align: center;
}

.section-3 {
    display: flex;
    flex-direction: column;
    background-color: purple;
    width: 100%;
    padding: 80px 0;
}

.section-3 .quote {
    align-self: center;
    font-size: 24px;
    width: 55%;
}

.section-3 .author {
    align-self: flex-end;
    padding-top: 40px;
    padding-right: 450px;
}

.section-4 {
    display: flex;
    justify-content: center;
    background-color: green;
    width: 100%;
    padding: 80px 0;
}

.container {
    display: flex;
    background-color: beige;
    align-items: center;
    padding: 30px 60px;
    border-radius: 5px;
}

.container .left {
    display: flex;
    flex-direction: column;
}

.container .right button {
    margin-left: 100px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    padding: 30px 0;
}

